@import "globals";

$primary: $purple;

$nav-tabs-link-active-color:        $purple;
$nav-tabs-link-active-bg:           $body-bg !default;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;

$navbar-light-color:                rgba($black, .5);
$navbar-light-hover-color:          $purple;
$navbar-light-active-color:         $purple;
$navbar-light-disabled-color:       rgba($black, .3);

@import "bootstrap-source/scss/bootstrap.scss";
@import "elements";